.erTextarea {
    padding: 5px;
}

.erTextarea:focus {
    outline: 2px solid brown;
    outline-offset: -1px;
}

.erExecButton {
    color: white;
    background-color: brown;
}

/*
.erClearButton {
}
*/

.erSampleButton {
    font-size: 12px;
}

.erHighlight {
    font-weight: bold;
}