.erTextarea {
    padding: 5px;
}

.erTextarea:focus {
    outline: 2px solid brown;
    outline-offset: -1px;
}

.erExecButton {
    color: white;
    background-color: brown;
}

.erClearButton {
    color: black;
    background-color: ivory;
}

.erHighlight {
    font-weight: bold;
}