<h1>
  {{title}}
</h1>
<div>
  <form (ngSubmit)="onSubmit()">
    <textarea rows="5" cols="30" [(ngModel)]="paragraph" name="paragraph"></textarea>
    <button type="submit">Execute</button>
  </form>
</div>
<div>
<div *ngFor="let em of emotions; let i = index">
  <table style="padding-bottom: 5px;">
    <tr><td colspan="2">{{em.sentence}}<td></tr>
    <tr><td><label for="anger_{{i}}">Anger:</label></td><td><span id="anger_{{i}}">{{em.anger}}</span></td></tr>
    <tr><td><label for="joy_{{i}}">Joy:</label></td><td><span id="joy_{{i}}">{{em.joy}}</span></td></tr>
    <tr><td><label for="fear_{{i}}">Fear:</label></td><td><span id="fear_{{i}}">{{em.fear}}</span></td></tr>
    <tr><td><label for="sadness_{{i}}">Sadness:</label></td><td><span id="sadness_{{i}}">{{em.sadness}}</span></td></tr>
    <tr><td><label for="surprise_{{i}}">Surprise:</label></td><td><span id="surprise_{{i}}">{{em.surprise}}</span></td></tr>
  </table>
</div>