<h1>{{title}}</h1>
<div class="erFormArea">
  <form (ngSubmit)="onSubmit()">
    <div>
      <textarea rows="10" cols="60" [(ngModel)]="paragraph" class="erTextarea"
                name="paragraph" placeholder="Copy and paste sentences here. "></textarea>
    </div>
    <div>
      <span class="erNote">Support language: English only</span>
    </div>
    <div>
      <button type="submit" class="erButton erExecButton">Execute</button>
      <button type="button" class="erButton erClearButton" (click)="onClear()">Clear</button>
      <button type="button" class="erButton erSampleButton" (click)="onSample()">Sample</button>
      <input type="checkbox" [(ngModel)]="debugMode" name="debugMode" id="debugMode">
      <label for="debugMode">debug mode</label>
    </div>
  </form>
</div>
<div style="border: 1px dashed gray; padding: 30px; background-color: white">
  <div *ngIf="emotions == false" style="font-style: italic"><span>No Sentences</span></div>
  <div *ngFor="let em of emotions; let i = index" style="padding-bottom: 15px">
    <div style="padding-bottom: 5px" [style.color]="em.topEmotion | emotionToColorPipe">
      <img [src]="getImgPath(em)" title="{{em.topEmotion}}">
      <span style="padding: 0 5px">{{em.sentence}}</span>
    </div>
    <table *ngIf="debugMode" style="border: 1px solid darkgrey; padding: 5px; margin: 0 40px">
      <tr [ngClass]="{'erHighlight': em.topEmotion == 'anger'}">
        <td><img src="{{img_s_anger}}"></td>
        <td><label for="anger_{{i}}">Anger:</label></td>
        <td><span id="anger_{{i}}">{{em.anger}}</span></td>
      </tr>
      <tr [ngClass]="{'erHighlight': em.topEmotion == 'joy'}">
        <td><img src="{{img_s_joy}}"></td>
        <td><label for="joy_{{i}}">Joy:</label></td>
        <td><span id="joy_{{i}}">{{em.joy}}</span></td>
      </tr>
      <tr [ngClass]="{'erHighlight': em.topEmotion == 'fear'}">
        <td><img src="{{img_s_fear}}"></td>
        <td><label for="fear_{{i}}">Fear:</label></td>
        <td><span id="fear_{{i}}">{{em.fear}}</span></td>
      </tr>
      <tr [ngClass]="{'erHighlight': em.topEmotion == 'sadness'}">
        <td><img src="{{img_s_sadness}}"></td>
        <td><label for="sadness_{{i}}">Sadness:</label></td>
        <td><span id="sadness_{{i}}">{{em.sadness}}</span></td>
      </tr>
      <tr [ngClass]="{'erHighlight': em.topEmotion == 'surprise'}">
        <td><img src="{{img_s_surprise}}"></td>
        <td><label for="surprise_{{i}}">Surprise:</label></td>
        <td><span id="surprise_{{i}}">{{em.surprise}}</span></td>
      </tr>
    </table>
  </div>
  <div style="padding: 25px 0 0 0">
    <table>
      <tr>
        <td><img src="{{img_s_anger}}"><span style="padding: 0 5px">Anger</span></td>
        <td><img src="{{img_s_joy}}"><span style="padding: 0 5px">Joy</span></td>
        <td><img src="{{img_s_fear}}"><span style="padding: 0 5px">Fear</span></td>
        <td><img src="{{img_s_sadness}}"><span style="padding: 0 5px">Sadness</span></td>
        <td><img src="{{img_s_surprise}}"><span style="padding: 0 5px">Surprise</span></td>
      </tr>
    </table>
  </div>
</div>
<div *ngIf="debugMode">
  <h5>App status: {{status}}</h5>
</div>