.erFormArea {
    padding-bottom: 20px;
    text-align: center;
}

.erFormArea .erTextarea {
    padding: 5px;
}

.erFormArea .erTextarea:focus {
    outline: 2px solid brown;
    outline-offset: -1px;
}

.erFormArea .erNote {
    font-size: 12px;
}

.erExecButton {
    color: white;
    background-color: brown;
}

/*
.erClearButton {
}
*/

.erSampleButton {
    font-size: 12px;
}

.erHighlight {
    font-weight: bold;
}